<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/main.css">


<script src="web3.min.js"></script>
  <script type="text/javascript">
	// console.log(test);
  var x ;

 if (typeof web3 !== "undefined")
 {
		web3 = new Web3(web3.currentProvider);
 }
 else
 {
	// set the provider you want from Web3.providers
		web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
 }

	var request = new XMLHttpRequest();
	request.open("GET", "contracts.txt", false);
	request.send(null);
	var contractDetails = JSON.parse(request.responseText);

var Courses =  new web3.eth.Contract((contractDetails[0]), (contractDetails[1]) );

 function show() {

			  var rowId = event.target.parentNode.parentNode.id;
			  var data = document.getElementById(rowId);
        var row_data = data.getElementsByTagName('td');

			  console.log(rowId);
			  var unique_id = row_data[1].innerHTML;
			  x = unique_id;
			  // $("#uniqueMailId").value = "hi";
			  // $("#form").submit();

				var msgId = row_data[3].innerHTML;
				var timeStamp = row_data[4].innerHTML;
				var unique_mail_id = row_data[1].innerHTML;

				console.log("Searching for msg id = " + msgId + " timeStamp = " + timeStamp);

				var accounts = web3.eth.getAccounts((error,result) => {
				       if (error)
				       {
				         console.log(error);
				       }
				       else
				       {
								 var transCount = web3.eth.getTransactionCount(result[0], async function(err, counts){
									 if(!err)
									 {
										 var flag = 0;
										 for( var i = 1; i<counts; i++)
										 {
											 // console.log(i + " " + flag);

							         Courses.methods.getTransaction(i)
							         .call({from: result[0]},
							           async function(error, emailTransaction)
							           {
							               if(!error)
							               {
															 if(emailTransaction[1] === msgId && emailTransaction[2] === timeStamp)
															 {
																 console.log(emailTransaction);
																 		flag = 1;
																		// console.log("flag " + flag);
																		content = emailTransaction[0];
																		// break;
																		if(i === counts )
																		{
																				if(flag === 0)
								 											 	{content = "Invalid request";}
																				console.log("Email transaction found with content : " + content);

																				$.post("/adminData",
																					 {
																						 uniqueMailId : unique_mail_id,
																						 emailContent: content
																					 },
																					 function(data, status)
																					 {
																						 if(status === "success")
																						 {
																							 location.reload();
																						 }
																						 else
																						 {alert("Status: " + status );}
																					 }
																			 );

																		}
															 }
							               }
							               else
														 {console.log(error);}
							           });//get method
												 console.log(i + " - " + flag);
										 }


										// } //else
									 }
									 else
									 	{console.log(err);}
								 });

				       }
				});
		}
	</script>

</head>
<body>
	<div class="col-md-6 col-md-offset-5">
	<div style='float: right;' >
		<a href="/logout">Logout</a>
	</div>
</div>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Profile Detail</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr><td>Name </td><td><%= name %></td></tr>
					<tr><td>Email </td><td><%= email %></td></tr>
				</table>
			</center>
			<div class="col-md-8 col-md-offset-3">
				<br>
				<a href="/addJudiciary">
					<div>
						<p>Add Judiciary</p>
					</div>
				</a>
				<a href="/removeJudiciary">
					<div>
						<p>Remove Judiciary</p>
					</div>
				</a>
			</br><br><br>
			</div>
			<div class="mssg bg-danger">
				<span id="check" ></span>
			</div>

			<!-- <div class="findMyEmail">
				<a href="/findMyEmail"><h4>Find my email</h4></a>
			</div> -->
			<div class="col-md-4 col-md-offset-4">
				<h4>Email Requests</h4>
			</div>
		</div>

	</div>
	<div class="col-md-0 col-md-offset-2">
	<div style="height:200px; overflow-y: scroll;width:800px;">
		<center>
		<table id = "email" class="table table-hover text-center" >
			<thead>
  				<th><center>S.No</center></th>
				<th><center>Unique Mail Id</center></th>
				<th><center>User Id</center></th>
  				<th><center>Message Id</center></th>
  				<th><center>Email Time Stamp</center></th>
  				<th><center>Request Time</center></th>
  				<th><center>Status</center></th>
			</thead>
      <tbody>
          <% for(var i=0; i < emailRequestData.length; i++) { %>
    		<tr id= <%= i+1 %> >
    		<td><%= i+1 %></td>
			<td class="row-data"><%= emailRequestData[i].uniqueMailId %></td>
			<td class="row-data"><%= emailRequestData[i].userId %></td>
			<td class="row-data"><%= emailRequestData[i].messageId %></td>
			<td class="row-data"><%= emailRequestData[i].emailTimeStamp %></td>
			<td class="row-data"><%= emailRequestData[i].currTimeStamp %></td>
    		<td>
			<% if(emailRequestData[i].status==="Pending") { %>
				<button id = "button<%= i+1 %>" onclick="show()">Search</button>
				<!-- <input type="button"  value="submit" onclick="show()" /></td> -->
			<!-- <a href="/searchMail/<%= emailRequestData[i].uniqueMailId %>">Search</a> -->
			<%} else{ %>
				<h5><%= emailRequestData[i].status %></h5>
			<% } %>
    		<i id="waiting<%= i+1 %>" hidden>search initiated.....</i>
            </td>
    		</tr>
			<% } %>


      </tbody>

	</table>

		</center>
	</div>
	<p id="check"></p>
</div>

</body>
</html>
