<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/main.css">



  <script type="text/javascript">
      function show() {
              var rowId = event.target.parentNode.parentNode.id;
              //this gives id of tr whose button was clicked
              console.log(rowId);

              // var table = document.getElementById("email");
              // var temp = table.rows[rowId].cells[5];
              // document.getElementById("email").rows[rowId].cells[4].style.display = "hidden";
              // temp.style.display = "hidden";

              var data = document.getElementById(rowId);
              var row_data = data.getElementsByTagName('td');
              // var rowSelected = table.getElementsByTagName('td')[rowId];
              var unique_id = row_data[1].innerHTML;
              var messageId = row_data[2].innerHTML;
              var timeStamp = row_data[3].innerHTML;

              console.log("........");
              console.log(unique_id);
              console.log(messageId);
              console.log(timeStamp);
							console.log("........");

              var x = document.getElementById("waiting"+rowId);
							console.log(x);
              x.style.display = "block";

              var y = document.getElementById("submitButton"+rowId);
							console.log(x);
              y.style.display = "hidden";
            }
	</script>

</head>
<body>
	<div class="col-md-6 col-md-offset-5">
	<div style='float: right;' >
		<a href="/logout">Logout</a>
	</div>
</div>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Profile Detail</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr><td>Name </td><td><%= name %></td></tr>
					<tr><td>Email </td><td><%= email %></td></tr>
				</table>
			</center>
			<!-- <div class="findMyEmail">
				<a href="/findMyEmail"><h4>Find my email</h4></a>
			</div> -->
			<div>
				<p>Email Requests</p>
			</div>
		</div>

	</div>
	<div class="col-md-0 col-md-offset-2">
	<div style="height:200px; overflow-y: scroll;width:800px;">
		<center>
		<table id = "email" class="table table-hover text-center" >
			<thead>
  				<th><center>S.No</center></th>
          <th><center>Transaction Id</center></th>
  				<th><center>Message Id</center></th>
  				<th><center>Email Time Stamp</center></th>
  				<th><center>Request Time</center></th>
  				<th><center>Status</center></th>
			</thead>
      <tbody>
          <% for(var i=0; i < emailRequestData.length; i++) { %>
    				<tr id= <%= i+1 %> >
    					<td><%= i+1 %></td>
              <td class="row-data"><%= emailRequestData[i].unique_id %></td>
    					<td class="row-data"><%= emailRequestData[i].messageId %></td>
    					<td class="row-data"><%= emailRequestData[i].emailTimeStamp %></td>
    					<td class="row-data"><%= emailRequestData[i].currTimeStamp %></td>
    					<!-- <% if(emailRequestData[i].status==false) { %>
    					<td>Pending</td>
    					<% } else { %>
    					<td>Closed</td>
    					<% } %> -->

    					<td>
    					    <input id="submitButton<%= i+1 %>" type="button" value="search" onclick="show()" />
                  <i id="waiting<%= i+1 %>" hidden>waiting for judiciary details...</i>
              </td>

    					<!-- <td><%= emailRequestData[i].currTimeStamp %></td> -->
    				</tr>
    			<% } %>
      </tbody>

			</table>
		</center>
		<!-- <span><%= emailRequestData %></span> -->
	</div>
</div>

</body>
</html>