<!DOCTYPE html>
<html>
<head>

	<style>
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	li a:hover:not(.active) {
	  background-color: #111;
	}

	.active {
	  background-color: #4CAF50;
	}
	</style>
<!-- page breaking inside table -->
	<style type="text/css">
	    table { page-break-inside:auto }
	    tr    { page-break-inside:avoid; page-break-after:auto }
	    thead { display:table-header-group }
	    tfoot { display:table-footer-group }
	</style>

	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>

	<ul>
	  <li><a href="/">Email Arbitration Service </a></li>
	  <li style="float:right"><a class="active" href="/logout">Log Out</a></li>
	</ul>

		<!-- <nav class="navbar navbar-dark bg-secondary">
			<h3 class = "navbar-text"> Service Provider </h3>
					 <a class="navbar-item"  href="/logout" class="btn btn-primary">
						 log out
				 </a>
			 </nav> -->


<!-- <nav class="navbar navbar-expand-sm bg-dark">
	<ul class="navbar-nav">
    <li class="nav-item">
      <h3 >asd</h3>
    </li>
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
  </ul>
</nav> -->



<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end"> -->
<!-- <a class="navbar-brand" href="\">Home</a> -->
<!-- <span class="navbar-text">
	Navbar
</span> -->
<!-- <button class="btn btn-success ml-auto mr-2">logout</button> -->
	<!-- <div> -->

	<!-- </div> -->
			<!-- <div class="col-md-7 col-md-offset-5"> -->
		  <!-- <ul class="navbar-nav navbar-right">
		    <li class="nav-item">
		      <a class="nav-link" href="#">Link</a>
		    </li>
		  </ul> -->
			<!-- </div> -->

<!-- </nav> -->

<!--
	<div class="topnav">
		<div class="col-md-7 col-md-offset-5">
			<div style='float: right;' >
				<a href="/logout" class="btn btn-primary">Logout</a>
			</div>
		</div>
  </div> -->

	<!-- <div style='float: right;' >
		<a href="/logout" class="btn btn-primary">Logout</a>
	</div> -->

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Profile Detail</p>
		</div>
		<div class="container">
			<center>
				<table class="table table-hover text-center">
				<!-- <table class="table table-bordered"> -->
					<tr><td>Name</td><td><%= name %></td></tr>
					<tr><td>Email</td><td><%= email %></td></tr>
				</table>
			</center>


			<div class="findMyEmail">
				<a href="/findMyEmail" class="btn btn-primary" >
					<h3>
						Find my email
				</h3>
			</a>
			<br>

			</div>

			<div>
				<h3>Email Requests</h3>
			</div>
			<!-- <center> -->

		<!-- </center> -->
		</div>

	</div>
	<div class="col-md-0 col-md-offset-0">
	<div style="height:500px; overflow-y: scroll;width:1300px;">
		<center>
		<table class="table table-bordered" >
			<tr class="bg_silver">
				<th ><center>S.No</center></th>
				<th><center>Message Id</center></th>
				<th><center>Email Time Stamp</center></th>
				<th><center>Judiciary</center></th>
				<th><center>Request Time</center></th>
				<th><center>Status</center></th>
			</tr>
			<% for(var i=0; i < emailRequestData.length; i++) { %>
				<tr>
					<td><%= i+1 %></td>
					<td><%= emailRequestData[i].messageId %></td>
					<td><%= emailRequestData[i].emailTimeStamp %></td>
					<td><%= emailRequestData[i].judiciaryId %></td>
					<td><%= emailRequestData[i].currTimeStamp %></td>
					<td><%= emailRequestData[i].status %></td>
					<!-- <td><%= emailRequestData[i].currTimeStamp %></td> -->
				</tr>
			<% } %>
			</table>
		</center>
		<!-- <span><%= emailRequestData %></span> -->
	</div>
</div>

<div class="addEmail">
	<a href="/addEmail">Add Email</a>
</div>

</body>
</html>
<!-- <!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>

<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Profile Detail</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr><td>Name </td><td><%= name %></td></tr>
					<tr><td>Email </td><td><%= email %></td></tr>
				</table>
				<div class="findMyEmail">
					<a href="/findMyEmail">Find my email</a>
				</div>
			</center>
		</div>
		<div class="abc">
			<a href="/logout">Logout</a>
		</div>
	</div>
</body>
</html> -->
